html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

@font-face {
font-family: 'Light';
src: url('../fonts/FuturaLightBT.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Normal';
src: url('../fonts/FuturaNormal.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Medium';
src: url('../fonts/FuturaMedium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Bold';
src: url('../fonts/FuturaBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Heavy';
src: url('../fonts/FuturaHeavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Black';
src: url('../fonts/FuturaExtraBlackBT.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

html, body {
overflow:hidden;
}

html {
font-size: 62.5%;
height:100%;
}

body {
font-family:Normal;
background-color:#444;
background: url("../images/postano.png") 50% 50% no-repeat, url("../images/black.png") repeat;
background-size:899px 83px, 38px 38px;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
}

body::after {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
content:'';
box-shadow: inset 0 0 200px 10px rgba(0,0,0,.7);
}

a {
text-decoration:none;
}

/* navigation */
nav  {
position:fixed;
top:0;
left:0;
right:0;	
height:35px;
background:transparent;
z-index:1000;
}

nav ul {
position:absolute;
top:-55px;
left:0;
right:0;
text-align:left;
font-family:Light;
background:#333;
z-index:10000;
background: #a90329;
text-transform:uppercase;
height:55px;
-webkit-transition:all 350ms;
}

nav:hover ul {
top:0;
}

nav li {
display:inline;
}

nav a  {
color:#fff;
text-decoration:none;
font-size:12px;
line-height:60px;
height:55px;
display:inline-block;
padding:0 20px;
}

nav a:hover,
nav li.active a {
background:#c10730;
}

/* home screen */
.sections {
width: 650px;
padding: 20px;
position: absolute;
top: 50%;
left: 50%;
margin-top: 80px;
margin-left: -325px;
z-index:1;
display: -webkit-box;
display: box;
}

.sections a {
font-size: 18px;
color: white;
text-decoration: none;
margin: 0;
font-family: Light;
color: #fff;
display:block;
margin-bottom:15px;
text-transform:uppercase;
-webkit-box-flex:3;
box-flex: 3;
padding:10px 0;
margin:0 1px;
text-align:center;
background:rgba(255,255,255,.08);
}

.sections  a:hover {
color: #DA342E;
background:#fff;
}

/* Duke Lightning */
.dukeOuterWrapper {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
overflow:hidden;
-webkit-perspective: 1000px;
-webkit-transform-style:preserve-3d;
-webkit-backface-visibility: hidden;
background-color: #444;
background: url("../images/black.png") repeat;
background-size:38px 38px;
-webkit-transition:all 650ms;
opacity:0;
}

.dukeOuterWrapper.show {
opacity:1;
}

.dukeWrapper {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
z-index: 3;
-webkit-transform-style:preserve-3d;
-webkit-transition-property:-webkit-transform;
-webkit-transform: translate3d(0,0,-600px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
-webkit-transition-duration:5s;
-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
-webkit-backface-visibility: hidden;
}

.dukeWrapper.zoom {
-webkit-transform-style:preserve-3d;
-webkit-transition-duration:1.5s;
-webkit-transform: translate3d(0,0,250px) rotateY(0) rotateX(0deg) rotateX(0deg);
}

.dukeWrapper.topleft {
-webkit-transform: translate3d(0,0,-400px) rotateY(-15deg) rotateX(-15deg) rotateZ(-15deg);
}

.dukeWrapper.topright {
-webkit-transform: translate3d(0,0,-400px) rotateY(-15deg) rotateX(15deg) rotateZ(15deg);
}

.dukeWrapper.bottomright {
-webkit-transform: translate3d(0,0,-400px) rotateY(15deg) rotateX(15deg) rotateZ(15deg);
}

.dukeWrapper.bottomleft {
-webkit-transform: translate3d(0,0,-400px) rotateY(15deg) rotateX(-15deg) rotateZ(-15deg);
}

.dukelightning {
width:120%;
position:absolute;
left:0;
right:0;
bottom:0;
top:0;
-webkit-transform-style:preserve-3d;
-webkit-transform: translate3d(0,0,100px);
-webkit-transition-property: -webkit-transform;
-webkit-transition-duration: 5s;
-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
-webkit-backface-visibility: hidden;
}

.dukelightning.show {
	
}

.dukelightning .board {
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
-webkit-transform-style:preserve-3d;
-webkit-backface-visibility: hidden;
z-index:1;
}

.dukelightning .board.middle {
z-index:2;
}

.dukelightning .edge {
-webkit-column-width: 320px;
-webkit-column-gap:60px;
display:block;
overflow:hidden;
}

.dukelightning .post {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
padding:10px;
background:rgba(0, 0, 0, .3);
display: block;
word-wrap: break-word;
margin: 30px 60px 30px 0;
width:320px;
box-shadow: 0 0 0 0 transparent;
-webkit-backface-visibility: hidden;
-webkit-transform-style:preserve-3d;
-webkit-transform: translate3d(0,0,0);
overflow:hidden;
}

.dukelightning .edge .post {
	margin: 30px 60px 60px 0;
}

.dukelightning .post.error {
	display:none;
}

.dukelightning .post .postimg {
max-width: 100%;
margin: 0 auto 10px;
display: block;
width:100%;
}

.dukelightning .post .title {
margin-bottom: 0;
display: block;
font-family: Medium;
font-size: 2rem;
text-align: center;
line-height: 1;
color: #fff;
width: 90%;
margin: 0 auto 20px;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow:hidden;
}


.dukelightning .post.noImage .title {
margin-bottom:20px;
}

.dukelightning .post .text {
font-family: Light;
color: #fff;
text-align: center;
width: 100%;
-webkit-box-sizing: border-box;
padding: 0;
line-height: 1.2;
font-size: 1.6rem;
line-height: 1.4;
float: left;
clear: both;
text-align: left;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3; /* number of lines to show */
-webkit-box-orient: vertical;
margin-bottom:25px;
display:none;
text-align:center;
}

.dukelightning .post .title a {
color:inherit!important;
}

.dukelightning .post .user {
width: 100%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
position: absolute;
top: 30px;
left: 30px;
}

.dukelightning .post.noImage .user {
position:relative;
top:auto;
left:auto;
float:left;
margin: 10px 0;
}

.dukelightning .post .user .usericon {
max-width:35px;
float:left;
margin-right:5px;
}


.dukelightning .post .user .username {
font-family: Medium;
color: #fff;
text-transform: uppercase;
font-size: 1.4rem;
line-height: 30px;
padding-left: 5px;
text-shadow:0 1px 1px #000;
}

.dukelightning .post footer {
position:relative;
width:100%;
-webkit-box-sizing:border-box;
box-sizing:border-box;
float:left;
clear:both;
color: #999;
margin: 3px 0 0;
}

.dukelightning .post footer .date,
.dukelightning .post footer .keyword {
line-height: 1;
display: inline-block;
font-size: 1.2rem;
text-transform: uppercase;
font-family: Light;
text-align: right;
width:50%;
float:right;
}

.dukelightning .post footer .keyword {
text-align:left;
float:left;
}

/* Quantum Avenger */
.quantumAvenger {
width:120%;
position:absolute;
left:0;
right:0;
bottom:0;
top:0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all 600ms;
opacity:1;
}

.quantumAvenger.show {
opacity:1	
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1);}	
	25% { -webkit-transform: scale(1.3); }
    100% { -webkit-transform: scale(1);}
}

.quantumAvenger .post {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
padding:10px;
background:rgba(0, 0, 0, .3);
display: block;
word-wrap: break-word;
-webkit-transition-property:-webkit-transition;
-webkit-transition-duration:600ms;
-webkit-transform: translate3d(0,0,0);
-webkit-transition-delay: 100ms;
-webkit-animation-name: pulse;
-webkit-animation-duration: 420ms;
-webkit-animation-timing-function:ease-in-out;
-webkit-backface-visibility: visible;
-webkit-animation-direction:forwards;
animation-play-state: paused;
left:25%;
top:-50%;
opacity:1;
margin: 30px 60px 30px 0;
width:320px;
}

.quantumAvenger .post.tiled {
opacity:1;
}

.quantumAvenger .post.noImage {
width:320px;
}

.quantumAvenger .post.alt{
width:580px;
margin-top: -210px;
margin-left: -90px;
-webkit-box-shadow: 0 0 100px 10px #000;
z-index:1000;
background:#fff;
-webkit-animation-play-state: running;
color:#003D82;
}

.quantumAvenger .post.alt.alt_1 {
background:#397085;
}

.quantumAvenger .post.alt.alt_2 {
background:#9FC089;
}

.quantumAvenger .post.alt.alt_3 {
background:#FD7831;	
}

.quantumAvenger .post.alt.alt_4 {
background:#E99F27;
}

.quantumAvenger .post.alt.alt_5 {
color:#333!important;
background:#FFF8C6;
}

.quantumAvenger .post.alt.alt_6 {
background:#8B1B15;
}

.quantumAvenger .post.alt.alt_7 {
color:#333!important;
background:#FFD090;
}

.quantumAvenger .post.alt.alt_8  {
background:#6E4B49;
}

.quantumAvenger .post.alt.alt_9 {
color:#333!important;
background:#FDC406;
}

.quantumAvenger .post.noImage.alt {
margin-top:0;
margin-left:-100px;
}

.quantumAvenger .post .postimg {
max-width: 100%;
margin: 0 auto 10px;
display: block;
width:100%;
}

.quantumAvenger .post.alt .postimg {
margin: 0 auto;
}

.quantumAvenger .post .title {
margin-bottom: 0;
display: block;
font-family: Medium;
font-size: 2rem;
text-align: center;
line-height: 1;
color: #fff;
width: 90%;
margin: 0 auto 20px;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow:hidden;
}

.quantumAvenger .post.alt .title {
margin: 25px auto 10px;
padding:0 20px;
color: #003D82;
}

.quantumAvenger .post.alt.alt_5 .title,
.quantumAvenger .post.alt.alt_5 .title *,
.quantumAvenger .post.alt.alt_7 .title,
.quantumAvenger .post.alt.alt_7 .title *,
.quantumAvenger .post.alt.alt_9 .title,
.quantumAvenger .post.alt.alt_9 .title * {
color:#003D82;
}

.quantumAvenger .post.noImage .title {
margin-bottom:20px;
}

.quantumAvenger .post .text {
font-family: Light;
color: #fff;
text-align: center;
width: 100%;
-webkit-box-sizing: border-box;
padding: 0;
line-height: 1.2;
font-size: 1.6rem;
line-height: 1.4;
float: left;
clear: both;
text-align: left;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3; /* number of lines to show */
-webkit-box-orient: vertical;
margin-bottom:25px;
display:none;
text-align:center;
}

.quantumAvenger .post.alt .text {
padding:0 20px;
}

.quantumAvenger .post.alt.alt_5 .text,
.quantumAvenger .post.alt.alt_5 .text *,
.quantumAvenger .post.alt.alt_7 .text,
.quantumAvenger .post.alt.alt_7 .text *,
.quantumAvenger .post.alt.alt_9 .text,
.quantumAvenger .post.alt.alt_9 .text *{
color:#333;
}

.quantumAvenger .post .title a {
color:inherit!important;
}

.quantumAvenger .post.alt .text {
display: -webkit-box;
color:#003D82;
}

.quantumAvenger .post .user {
width: 100%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
position: absolute;
top: 30px;
left: 30px;
}

.quantumAvenger .post.noImage .user {
position:relative;
top:auto;
left:auto;
float:left;
margin: 10px 0;
}

.quantumAvenger .post .user .usericon {
max-width:35px;
float:left;
margin-right:5px;
}


.quantumAvenger .post .user .username {
font-family: Medium;
color: #fff;
text-transform: uppercase;
font-size: 1.4rem;
line-height: 30px;
padding-left: 5px;
text-shadow:0 1px 1px #000;
}

.quantumAvenger .post footer {
position:relative;
width:100%;
-webkit-box-sizing:border-box;
box-sizing:border-box;
float:left;
clear:both;
color: #999;
margin: 3px 0 0;
}

.quantumAvenger .post.alt footer {
color:#888;
}

.quantumAvenger .post.alt.alt_5 footer,
.quantumAvenger .post.alt.alt_5 footer *,
.quantumAvenger .post.alt.alt_7 footer,
.quantumAvenger .post.alt.alt_7 footer *,
.quantumAvenger .post.alt.alt_9 footer,
.quantumAvenger .post.alt.alt_9 footer * {
color:#333;
}


.quantumAvenger .post footer .date,
.quantumAvenger .post footer .keyword {
line-height: 1;
display: inline-block;
font-size: 1.2rem;
text-transform: uppercase;
font-family: Light;
text-align: right;
width:50%;
float:right;
}

.quantumAvenger .post footer .keyword {
text-align:left;
float:left;
}


/*// 3D //*/

/*wrapper for fade in animation*/

.impressOuterWrapper {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#fff;
	background: url("../images/bg_on.jpg") repeat;
	opacity:0;
	-webkit-transition:all 650ms;
}

.impressOuterWrapper.show {
	opacity:1;
}

.impressWrapper{
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform-origin: 50% 50%;
	-webkit-transition-duration: 1s;
	-webkit-transform: scale(1) transformZ(0) transform3d(0,0,0);
}

.impressWrapper.startHidden{
	opacity:0;
	-webkit-transform: scale(.4);
}


#impress .slide{
	width:400px;
	top:0;
	left:0;
	padding:30px;
	opacity:1;	
}


.quantumAvenger .spinergizerPost{
	opacity:.5;
	background:#0e1a36;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background:rgba(0, 0, 0, .5);
	-webkit-transition-delay: 1000ms;
	-webkit-transition:all 1000ms;
	width:100%;
	overflow:hidden;
	margin:0;
/*	-webkit-font-smoothing: subpixel-antialiased;*/
}

.quantumAvenger .slide .imgClip img{
	max-width:100%;
	width:100%;
}

.quantumAvenger .spinergizerPost .title {
	font-size: 4rem;
}

.quantumAvenger .active .spinergizerPost{
	background:rgba(0, 0, 0, .7);
	opacity:1;
}

.quantumAvenger .imgClip{
	max-height:900px;
	overflow:hidden;
}


.quantumAvenger{
	width:5000px;
	-webkit-transform: scale(.4) !important;
/*	-webkit-transition-timing-function: cubic-bezier(0.060, 0.605, 0.230, 0.930) !important;*/
/*	-webkit-transition-duration: 2s !important;*/
}

.quantumAvenger.zoomIn{
	-webkit-transform: scale(1) !important; 
}

/* single post */
.singlePostOuterWrapper {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
overflow:hidden;
-webkit-perspective: 1000px;
-webkit-transform-style:preserve-3d;
-webkit-backface-visibility: hidden;
background: #444 url("../images/black.png") repeat;
-webkit-transition:all 650ms;
opacity:0;
}

.singlePostOuterWrapper.show {
opacity:1;
}


.singlePost {
overflow: hidden;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
}

@-webkit-keyframes pushZoom {
0% { -webkit-transform: scale(1); }	
25% { -webkit-transform: scale(1.3); }
100% { -webkit-transform: scale(1); }
}

.singlePost .post {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
opacity:0;
color: white;
text-shadow: 0 1px 1px black;
box-shadow: 0 10px 100px black;
-webkit-transition-property:all;
-webkit-transition-duration:650ms;
-webkit-transform: translate3d(0,0,0);
-webkit-animation-name: pushZoom;
-webkit-animation-duration: 650ms;
-webkit-backface-visibility: visible!important;
-webkit-animation-direction:forwards;
-webkit-animation-play-state: paused;
-webkit-animation-timing-function:ease-in-out;
}

.singlePost .post.on {
opacity:1;
-webkit-animation-play-state: running;
}


.singlePost .post {
background:#DA342E url("../images/bg.png") repeat;
}

.singlePost .post:nth-child(even) {
background:#eee url("../images/bg.png") repeat;
}

.singlePost .post:nth-child(even),
.singlePost .post:nth-child(even) * {
color:#DA342E!important;
text-shadow: 0 0 0 transparent!important;
}

.singlePost .post a {
color:#fff;
}

.singlePost .post.noImage.alt_5 a,
.singlePost .post.noImage.alt_7 a,
.singlePost .post.noImage.alt_9 a {
color:#333;
}

.singlePost .post .user {
width: 100%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
z-index: 2;
margin: 80px 0;
}

.singlePost .post.noImage .user {
position: relative;
top: auto;
left: auto;
float: none;
margin: 0;
max-width: 100%;
display: block;
margin:4% auto 0;
}

.singlePost .post .user .usericon {
max-width: 90px;
float: left;
margin-right: 5px;
border: 5px solid white;
width: 100%;
}


.singlePost .post .user .usericon {
float:none;
text-align:center;
}


.singlePost .post .user .username {
font-family: Light;
text-transform: uppercase;
font-size: 3.4rem;
line-height: 100px;
padding-left: 5px;
}

.singlePost .post .user .username {
vertical-align: bottom;
display: inline-block;
line-height: 110px;
}


.singlePost .post .content {
z-index: 2;
width:100%;
height:100%;
margin:0 auto;
text-align: center;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 4rem;
line-height: 1.2;
font-family: Light;
z-index:3;
position:relative;
}

.singlePost .post.noImage .content {
font-size:7rem;
}

.singlePost .post .content:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
}


.singlePost .post .content .middlewrapper {
width:100%;
display: -webkit-box;
display: box;
height:500px;
}

.singlePost .post .content .middlewrapper:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
}


.singlePost .post .content .middlewrapper .middle,
.singlePost .post .content .middlewrapper .middleimage {
-webkit-box-flex:2;
box-flex: 2;
width:45%;
text-align:left;
display: inline-block;
vertical-align: middle;
}

.singlePost .post .content .middlewrapper .middleimage {
	margin-right:10px;
}

.singlePost .post img.postimg {
z-index: 1;
margin: 0 auto;
display: block;
max-width: 100%;
max-height: 100%;
width: 100%;
border: 10px solid white;
float: right;
}

.singlePost .post .content .center {
display: inline-block;
vertical-align: middle;
width: 80%;
-webkit-border-box:padding-box;
padding:20px;
}

.singlePost .post.hasImage .content .center .title,
.singlePost .post.hasImage .content .center .text {
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
overflow:hidden;
}

.singlePost .post .content .center .title {
font-family: Medium;	
}

.singlePost .post.hasImage .content .center .title {
margin-bottom:20px;
}

.singlePost .post.noImage .content .center .title,
.singlePost .post.noImage .content .center .text {
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 6;
-webkit-box-orient: vertical;
overflow:hidden;
}

.singlePost .post.hasImage .content .center .title *,
.singlePost .post.hasImage .content .center .text * {
display:inline;
}

.singlePost .post footer {
position: absolute;
bottom: 0;
width: 100%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
float: left;
clear: both;
margin: 3px 0 0;
z-index: 3;
padding: 20px;
}

.singlePost .post footer .date,
.singlePost .post footer .keyword {
line-height: 1;
display: inline-block;
font-size: 2.2rem;
text-transform: uppercase;
font-family: Light;
text-align: right;
width:50%;
float:right;
}

.singlePost .post footer .keyword {
text-align:left;
float:left;
}


/* messages */

.message {
position: absolute;
left: 50%;
width: 470px;
margin-left: -240px;
background: #eee;
text-align: center;
box-shadow: 0 -1px 3px rgba(0, 0, 0, 1);
font-family: Bold;
color: rgb(34, 34, 34);
line-height: 1.2;
font-size: 22px;
z-index: 1000;
padding: 10px;
bottom: -80px;
-webkit-transition: all 600ms;
border-radius: 3px 3px 0 0;
font-family: Medium;
font-size: 16px;
font-weight: normal;
}

.message.appstarted, .message.errorthrown {
bottom:0;
}

.message.errorthrown {
color:red;
}


/* debug */
.button, .buttonsm {
width:100px;
height:50px;
background:#397085;
color:#fff;
text-align:center;
position:absolute;
top:0;
right:0;
z-index:10000;
font:14px/50px helvetica;
z-index:1000;
}

.button {
display:none;	
}

.buttonsm {
display:none;	
}

.crosshairs {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(255,255,255,.3);
z-index:1000;
pointer-events:none;
display:none;
}

.crosshairs .vcross {
width:1px;
background:red;
position:absolute;
left:50%;
margin-left:-1px;
top:0;
bottom:0;
}

.crosshairs .hcross {
height:1px;
background:red;
position:absolute;
top:50%;
margin-top:-1px;
left:0;
right:0;
}