<% if (image) { %>
	<div class="post <%= box %>" data-item="<%= index %>">
<% } else { %>
	<div class="post noImage <%= box %>" data-item="<%= index %>">
<% } %>
<div class="user">
	<img class="usericon" src="<%= usericon %>" />
	<% if (source) { %>
		<span class="username"><%= source.user_name %></span>
	<% } %>
</div>
<% if (image) { %>
	<img class="postimg" src="<%= image %>" onerror="$(this).parents('.post').addClass('hide');" />
<% } %>
<% if(title !== 'null') { %>
	<span class="title"><%= title %></span>
<% } %>
<% if(text !== 'null') { %>
	<span class="text"><%= text %></span>
<% } %>
<footer>
	<% if (source) { %>
		<span class="keyword"><%= source.keyword %></span>
	<% } %>
	<span class="date"><%= formattedpubDate %></span>
</footer>
</div>