<ul>
	
	<li>
		<a href="#">Home</a>
	</li>
	
	<li>
		<a href="DukeLightning">Duke Lightning</a>
	</li>
	<li>
		<a href="QuantumAvenger">Quantum Avenger</a>
	</li>
	
	<li>
		<a href="SinglePost">Single Post</a>
	</li>
</ul>