html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}

:focus {
outline: 0;
}

@font-face {
font-family: 'BebasNeue';
src: url('../fonts/BebasNeue-webfont.eot');
src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/BebasNeue-webfont.woff') format('woff'),
     url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
     url('../fonts/BebasNeue-webfont.svg#BebasNeue-webfont') format('svg');
font-weight: normal;
font-style: normal;
}

@-webkit-keyframes bubblePop {
from { -webkit-box-shadow: 0 0 30px rgba(3, 171, 221, .1);}
50% { -webkit-box-shadow: 0 0 480px rgba(3, 171, 221, .9); }
to { -webkit-box-shadow: 0 0 30px rgba(3, 171, 221, .1);}
}

body {
background:#000;
height:100%;
}

section {
background:transparent url("../images/bg.jpg") 0 50% repeat;
position:absolute;
top:0;
bottom:0;
height:100%;
width:100%;
}

nav {
	width:100%;
	bottom:-1px;
	position:fixed;
	left:0;
	height:50px;
	background: #8f8f8f; /* Old browsers */
	background: -moz-linear-gradient(top, #8f8f8f 0%, #292929 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8f8f8f), color-stop(100%,#292929)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8f8f8f 0%,#292929 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #8f8f8f 0%,#292929 100%); /* W3C */
	overflow:hidden;
}

nav a {
	text-align:center;
	color:#fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
	font-size:38px;
	font-family:BebasNeue, arial, sans-serif;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	line-height:52px;
	width:25%;
	float:left;	
	background: -moz-linear-gradient(top, #8f8f8f 0%, #292929 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8f8f8f), color-stop(100%,#292929)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8f8f8f 0%,#292929 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #8f8f8f 0%,#292929 100%); /* W3C */
	/*-webkit-transition-property:background;
	-webkit-transition-duration:500ms;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:200ms;*/
}

nav a.orbit {
	padding: 0 20px;
	width:45.6%;
	border-right:2px solid #000;
	border-left:2px solid #000;
}


nav a:hover {
	background: #666;
}

.filters li {
	margin-left:5px;
	margin-right:32px;
	width:158px;
	float:left;
	background-repeat:no-repeat;
	background-position: 0 0;
	background-color:transaprent;
	font-family:BebasNeue, arial, sans-serif;
	color:#000;
	text-transform:uppercase;
	text-align:center;
	padding-top:156px;
	font-size:24px;
	background-size:158px 158px;
	text-shadow:rgba(214, 67, 184, .8);	
	-webkit-user-select: none;
}

.filters li.active {
	color:#fff;
	text-shadow:rgba(214, 67, 184, .8);

}

.filters li:last-child {
	margin-right:0!important;
}

ul.filters {
	padding-left:15px;
	overflow:hidden;
	padding-top:15px;
}

ul.filters + ul {
	padding-left:105px;
}

ul.filters + ul + ul {
	padding-left:15px;
}

.filters li[rel="aaron"] {
	background-image:url("../images/aaron.png");
}

.filters li[rel="aden"] {
	background-image:url("../images/aden.png");
}

.filters li[rel="alex"] {
	background-image:url("../images/alex.png");
}

.filters li[rel="anton"] {
	background-image:url("../images/anton.png");
}

.filters li[rel="faye"] {
	background-image:url("../images/faye.png");
}

.filters li[rel="harry"] {
	background-image:url("../images/harry.png");
}

.filters li[rel="heaven"] {
	opacity:.3;
	background-image:url("../images/heaven.png");
}

.filters li[rel="jay"] {
	background-image:url("../images/jay.png");
}

.filters li[rel="louise"] {
	background-image:url("../images/louise.png");
}

.filters li[rel="maisy"] {
	background-image:url("../images/maisy.png");
}

.filters li[rel="mark"] {
	background-image:url("../images/mark.png");
}

.filters li[rel="rebeckah"] {
	opacity:.3;
	background-image:url("../images/rebeckah.png");
}

.filters li[rel="tashie"] {
	opacity:.3;
	background-image:url("../images/tashie.png");
}

.filters li[rel="tom"] {
	background-image:url("../images/tom.png");
}

.filters li[rel="alex"] {
	background-image:url("../images/alex.png");
}

.filters li[rel="anton"] {
	background-image:url("../images/anton.png");
}

.filters li[rel="faye"] {
	background-image:url("../images/faye.png");
}

.filters li[rel="harry"] {
	background-image:url("../images/harry.png");
}



.showTweet {
	-webkit-animation-play-state:running;
	-webkit-animation-name:bubblePop, scaleorb;
	-webkit-animation-duration:1.5s, 350ms;
	-webkit-animation-timing-function:linear, ease-in-out;
	-webkit-animation-delay:0, 0;
	-webkit-animation-iteration-count:infinite, 1;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:forwards;
}



	/* iPhone 4 ----------- */
	@media
	only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
	}