html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}

:focus {
outline: 0;
}

@font-face {
font-family: 'Black';
src: url('../fonts/black-webfont.eot');
src: url('../fonts/black-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/black-webfont.woff') format('woff'),
     url('../fonts/black-webfont.ttf') format('truetype'),
     url('../fonts/black-webfont.svg#Black') format('svg');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'Medium';
src: url('../fonts/medium-webfont.eot');
src: url('../fonts/medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/medium-webfont.woff') format('woff'),
    url('../fonts/medium-webfont.ttf') format('truetype'),
    url('../fonts/medium-webfont.svg#Medium') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'BebasNeue';
src: url('../fonts/BebasNeue-webfont.eot');
src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/BebasNeue-webfont.woff') format('woff'),
     url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
     url('../fonts/BebasNeue-webfont.svg#BebasNeue-webfont') format('svg');
font-weight: normal;
font-style: normal;
}


html {
	height:100%;
}
body {
background: #666;
overflow-x:hidden;
line-height: 1;
height:100%;
font-family:helvetica, arial, sans-serif;
}

#stats {
position:absolute;
left:-999em;
top:-999em;
}

canvas {
position: absolute;
z-index:1;
top:0;
left:0;
}

#control {
font-family:Black, arial, sans-serif;	
position:absolute;
top:20px;
right:20px;
color:#eee;
font-size:10px;
text-decoration:none;
text-align:center;
line-height:50px;
width:50px;
height:50px;
background:rgba(255,255,255,.1);
-moz-border-radius:125px;
-webkit-border-radius:125px;
-ms-border-radius:125px;
-o-border-radius:125px;
border-radius:125px;
z-index:30;
}


@-moz-keyframes bubblePop {
from { -moz-box-shadow: 0 0 30px rgba(3, 171, 221, .1);}
50% { -moz-box-shadow: 0 0 80px rgba(3, 171, 221, .9); }
to { -moz-box-shadow: 0 0 30px rgba(3, 171, 221, .1);}
}

@-moz-keyframes scaleorb {
from { -moz-transform:scale(0) }
to {  -moz-transform:scale(1) }
}

@-webkit-keyframes bubblePop {
from { -webkit-box-shadow: 0 0 30px rgba(3, 171, 221, .1);}
50% { -webkit-box-shadow: 0 0 480px rgba(3, 171, 221, .9); }
to { -webkit-box-shadow: 0 0 30px rgba(3, 171, 221, .1);}
}

@-webkit-keyframes scaleorb {
from { -webkit-transform:scale(0) }
to {  -webkit-transform:scale(1) }
}


.showTweet {
		width:600px;
		padding:220px 10px 20px 10px;
		height:380px;
	-moz-animation-play-state:running;
	-moz-animation-name:bubblePop, scaleorb;
	-moz-animation-duration:1.5s, 350ms;
	-moz-animation-timing-function:linear, ease-in-out;
	-moz-animation-delay:0, 0;
	-moz-animation-iteration-count:infinite, 1;
	-moz-animation-direction:normal;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-play-state:running;
	-webkit-animation-name:bubblePop, scaleorb;
	-webkit-animation-duration:1.5s, 350ms;
	-webkit-animation-timing-function:linear, ease-in-out;
	-webkit-animation-delay:0, 0;
	-webkit-animation-iteration-count:infinite, 1;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:forwards;
	position:absolute;
	background:rgba(3, 171, 221, .95);
	color:#fff;
	font-family:Medium, arial, sans-serif;
	border-radius:11110px;
	left:50%;
	margin-left:-310px;
	top:50%;
	margin-top:-310px;
	z-index:10000;
}

.tweet {
	display:none;
}

.showTweet .tweet {
	display:block;
}

.tweet a {
	color:#fff;
	text-decoration:none;
	font-family:Black, serif;	
	text-transform:uppercase;
	font-size:38px;

}

.tweet img {
    -moz-transform: scale(2.2);
	-webkit-transform: scale(2.2);
	-o-transform: scale(2.2);
	-ms-transform: scale(2.2);
	transform: scale(2.2);
    border-radius: 125px 125px 125px 125px;
    border: 2px solid #fff;
    left: 70px;
    position: absolute;
    top: 250px;
}

.tweetcontent {
	width:420px;
	float:right;
	font-size:28px;
	margin-right:20px;
}

.tweetcontent p {
	padding:10px 0 0 0;
}


.tweetcontent span,
.tweetcontent time {
	display:block;
	font-size:15px;
	line-height:1.5;
}

.tweetcontent span {
	font-size:18px;
}


.player {
color: #fff;
font-family: BebasNeue,arial,sans-serif;
font-size: 124px;
line-height: 168px;
position: absolute;
left:0;
width:100%;
text-transform: uppercase;
top: 40px;
text-align:center;
z-index:10000;
opacity:0;
}

.player img {
	margin-right:10px;
}

.player img,
.player span {
	display:inline-block;
	vertical-align:middle;
}

















